.active{
    font-size: 14px;
    font-weight: 600;
    padding: 13px;
    cursor: pointer;
    border-radius: 15px;
    /* background-color: #1d1465;
     */
    color:#000 ;
    text-decoration: none;
}
.link{
    font-size: 14px;
    font-weight: 600;
    color: #1d1465;
    text-decoration: none;
}