@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

* {
  font-family: "Darker Grotesque", sans-serif;
}

@media (min-width: 1024px) {
  .landing-page{
    display:block ;
    transition: all 1s linear;
    background-repeat: no-repeat;
    height:100dvh ;
  }
  .body{
    display: none;
    /* touch-action: manipulation; */
  }
 
}


@media screen and (max-width:769px) {
  .body { 
    display:block ;
    width:100% ;
    transition: all 1s linear;
    /* touch-action: pan-y; */
    height:100dvh ;
  }
}

